@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.heading {
    font-family: "Work Sans", sans-serif;
    margin-top: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.heading-sub-text {
    color: var(--light-blue);
}

.heading-text {
    color: var(--light-blue);
    font-size: 2.5rem;
}

.subHeading-text {
    color: var(--light-blue);
    font-size: 2.5rem;
    margin-top: 6vh;
}

.about-content {
    font-family: "Work Sans", sans-serif;
    line-height: 1.7;
    font-size: 0.8rem;
}
.about-text {
    color: var(--bege-cont);
    font-size: 1.2rem;
}

.about-subText {
    color: var(--bege-cont);
    font-size: 0.8rem;
}
.about-subDesc {
    color: var(--bege-cont);
    font-size: 0.8rem;
    margin-top: 3vh;
}

.split-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.4rem;
    margin-top: 6rem;
}

.about-img {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.about-img img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
    filter: brightness(100%);
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top:1.4rem;
}

.about-img img:hover {
    transform: scale(1.1);
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .split-about {
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .about-img img {
        width: auto;
        height: 200px;
        margin-top: 0;
        margin-bottom: 1.2rem;
    }

    .heading {
        margin-bottom: 2rem;
    }

    .heading-sub-text {
        font-size: 90%;
    }
    
    .heading-text {
        font-size: 1.6rem;
    }

    .about-content {
        font-size: .7rem;
    }
}