@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Side Navbar */
.navbar {
    background-color: var(--pinky-bgd);
    color: var(--bege-cont);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    opacity: 0;
    overflow-y: scroll;
    transition: all .5s ease-in-out;
    z-index: 99999;
    border-right: 3px solid var(--light-blue);
}

.navbar.active {
    left: 0;
    opacity: 1;
}

.navbar::-webkit-scrollbar {
    scroll-margin: 0;
}

.navbar-container {
    padding: 1rem 1.5rem;
}

.top-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.img__cover{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
}
.profile-pic-small {
    height: 100%;
    width: auto;
    border: none;
    transform: scale(1.4);

}

.profile-name {
    font-size: 0.8rem;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    color: var(--bege-cont);
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}

.nav-links li, .mid-details li {
    list-style: none;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--light-blue);
    margin: 0 .3rem;
    padding: .7rem;
    background-color: var(--bege-cont);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: var(--rum-cont);
    color: var(--bege-cont)
}

.mid-details {
    padding: 1rem;

}

.flex{
    display: flex;
}

.mid-links {
    display: flex;
    align-items: center;
    color: var(--nav-grey);
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 0;
    font-size: .9rem;
    transition: all 0.3s ease-in-out;
}

.mid-links.active {
    color: var(--light-blue);
}

.mid-links:hover {
    color: var(--rum-cont);
    font-weight: 600;
}

.mid-links:hover .mid-icon { color: var(--light-blue); }

.mid-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
}


.copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    margin-left: 1.1rem;
}
.copy a{
    color: var(--bege-cont);
    text-decoration: none;
}

.copyright {
    color: var(--bege-cont);
    font-size: 65%;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}